<%= simple_form_for(@team) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :desgination %>
    <%= f.input :email %>
    <%= f.input :facebook_url %>
    <%= f.input :github_id %>
    <%= f.input :personal_website %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
