<h1>Listing casestudies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @casestudies.each do |casestudy| %>
  <tr>
    <td><%= casestudy.name %></td>
    <td><%= casestudy.description %></td>
    <td><%= link_to 'Show', casestudy %></td>
    <td><%= link_to 'Edit', edit_casestudy_path(casestudy) %></td>
    <td><%= link_to 'Destroy', casestudy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Casestudy', new_casestudy_path %>
