<p id="notice"><%= notice %></p>

<p>
  <b>Partner name:</b>
  <%= @partner.partner_name %>
</p>

<p>
  <b>Website:</b>
  <%= @partner.website %>
</p>


<%= link_to 'Edit', edit_partner_path(@partner) %> |
<%= link_to 'Back', partners_path %>
