<!-- slider section -->
<div class="row">
  <div class="large-12 columns">
    <ul class="example-orbit" data-orbit>
      <li><img src=
      "http://placehold.it/1000x400&amp;text=[%20img%201%20]"></li>
      <li><img src=
      "http://placehold.it/1000x400&amp;text=[%20img%202%20]"></li>
      <li><img src=
      "http://placehold.it/1000x400&amp;text=[%20img%203%20]"></li>
      <a data-orbit-link="headline-1" class="small button">
  Goto Slide 1
</a>
<a data-orbit-link="headline-2" class="small button">
  Goto Slide 2
</a>
<a data-orbit-link="headline-3" class="small button">
  Goto Slide 3
</a>
    </ul>
  </div>
</div>
<!-- slider section ends here -->
<hr/>
<!-- Second Band (Image Left with Text) -->
<hr>

<!-- about-us page starts here -->
<div class="row">

  <div class="small-7 large-4 columns">
     <h1> About us </h1>
     <hr>
     <%= render "static_site/about" %>
     <hr>
     <div class="row">
        <% a = Service.limit(6) %>
        <% a.each do |service| %>
          <div class="text-center">
            <div class="img small-2">
             <%= image_tag service.photo1.url %>
            </div>
         
            <%= service.name %> 
         </div>
        <% end %>
      </div>
  </div>
  
  <div class="small-5 large-4 columns">
    <!-- Achievements slider -->
                 <!-- Awards slider -->
            <ul class="example-orbit-content"             data-orbit>
              <% a = Service.limit(6) %>
              <% a.each do |service| %>
              <li data-orbit-slide="headline-1">
                <div class="img small-2">
                 <%= image_tag service.photo1.url %>
                </div>
             
                <%= service.name %> 
               </li>

              <% end %>
                 
            </ul>
    <!-- Awards slider -->
    <!-- Achievements slider -->
    <hr>
    <!-- Awards slider -->
      <ul class="example-orbit-content"             data-orbit>
        <% a = Service.limit(6) %>
        <% a.each do |service| %>
        <li data-orbit-slide="headline-1">
          <div class="img small-2">
           <%= image_tag service.photo1.url %>
          </div>
       
          <%= service.name %> 
         </li>

        <% end %>
           
      </ul>
    <!-- Awards slider -->
    <hr>
    <!-- Free Trail Section -->
      <div class="panel callout radius">
        <h3 class="subheader">Free Trail Offer.</h3>

        <hr>
         <div class="small-6 columns"> 
          <p class="">Lorem Ipsum is simply     dummy text <br> of the  printing and types.
          </p>
         </div>
         <div class="small-3 columns">
           <a href="#panel1" class="button [tiny small large] text-center">TRAIL NOW</a>

         </div>

       
            <dl class="tabs panel1" data-tab>
              
              
            </dl>
        </div>
      </div>
    <!-- Free Trail Section -->
  </div>  
</div>
<!-- about-us ends here -->

    

     
        
  


  <!-- Third Band (Image Right with Text) -->

  <!-- Contact-Us Section -->

<!-- Call to Action Panel -->
<div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
         <div class="row">
          <div class="left"><h6>Contact Us</h6></div>
          <div class="right"><h6>Testimonials</h6></div>
          <hr>
      </div>

      <div class="row">
        <div class="small-4 large-4 columns left">

          <ul class="vcard">
            <li class="fn">Gaius Baltar</li>
            <li class="street-address">123 Colonial Ave.</li>
            <li class="locality">Caprica City</li>
            <li><span class="state">Caprica</span>, <span class="zip">12345</span></li>
            <li class="email"><a href="#">g.baltar@cmail.com</a></li>
          </ul>

        </div>

        <div class="small-4 large-4 columns text-center">
          <img class="img" src="/assets/rails.png"> 
        </div>
        <div class="small-4 large-4 columns text-right">
              <!-- Awards slider -->
            <ul class="example-orbit-content"             data-orbit>
              <% a = Service.limit(6) %>
              <% a.each do |service| %>
              <li data-orbit-slide="headline-1">
                <div class="img small-2">
                 <%= image_tag service.photo1.url %>
                </div>
             
                <%= service.name %> 
               </li>

              <% end %>
                 
            </ul>
    <!-- Awards slider -->

        </div>
      </div>


      </div>
      

      
    </div>
  </div>

  <!-- Footer -->
  

  <!-- Contact-Us Section -->
